@{
    ViewBag.Title = "Vending machine";
}

<div class="machine">
    <div class="images">
        <div class="vending">
            <img src="https://userscontent2.emaze.com/images/bc6288eb-5280-4ad6-bee9-198faa85ab48/6dd8cd2ebc272b5907a97c2a6d94b5fc.png" alt="Cocacola" />
            <strong>Cocacola $1.5</strong>
            <button class="btn btn-outline-primary">Add</button>
        </div>
        <div class="vending">
            <img src="https://images.vexels.com/media/users/3/190236/isolated/preview/9a2eb2186a42d9d0d802596a43aa7d43-papas-fritas-kawaii-planas-by-vexels.png" alt="Potatoes" />
            <strong>Potatoes $0.5</strong>
            <button class="btn btn-outline-primary">Add</button>
        </div>
        <div class="vending">
            <img src="https://lh3.googleusercontent.com/proxy/MrgNQlqJ35lQO50qbv1TxWm5vnORKyf34IRBdG4rVj0bhQbCO-lr-CNuW-xfZTDJGbkN1daXUECx_LBsE50RGEoto_Fi51W5QJfgpCAvbrm1iuT2wYzPGBc-QNQ" alt="coffe" />
            <strong>Coffe $1.2</strong>
            <button class="btn btn-outline-primary">Add</button>
        </div>
    </div>

    <div class="your-order">
        <div class="order-title">
            <h3 class="text-center">Your order</h3>
        </div>
        <div class="order">
            <img src="https://userscontent2.emaze.com/images/bc6288eb-5280-4ad6-bee9-198faa85ab48/6dd8cd2ebc272b5907a97c2a6d94b5fc.png" alt="Cocacola" />
            <strong>$1.5</strong>
            <button class="btn btn-outline-primary">Add</button>
        </div>
    </div>
</div>